################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReceiptReaderDemo/bin/Debug/net6.0
/ReceiptReaderDemo/obj
/ReceiptReaderDemo.Tests/bin/Debug/net6.0
/ReceiptReaderDemo.Tests/obj
